/*
    Css Template for our website
    Created on : Dec 11, 2014, 9:17:34 AM
    Author     : nmkeur
*/
* {
	
}
body {
	background:#fafafa;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

#header {
        border:0;
	margin:0;
	padding:0;
	border-bottom:1px solid #999;
	height:80px;
	margin:0 auto;
	width:751px;
}

#header h1 {
        border:0;
	margin:0;
	padding:0;
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
        border:0;
	margin:0;
	padding:0;
	color:#FF7F50	;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

#content d {
	padding:20px 20px 0;
}

#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:751px;
}

.error {
    border: 1px solid #f00;
}

.valid {
    border: 1px solid green;
}

img.iconresize{
    width:10%; 
    height: auto;
    
}